.map-section {
  margin: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.map-section img {
  width: 100%;
  height: auto;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .map-section {
    margin: 0;
    overflow: hidden;
  }

  .map-section img {
    width: 120%;
  }
}
