<div class="container-fluid">
  <div class="video-section bg-main row">
    <div class="col-md-6 text-center">
      <video src="assets/video/video.mp4" class="video-player" autoplay controls></video>
    </div>
    <div class="col-sm-6 text-center rss">
      <img src="assets/images/decor.png" alt="">
      <div class="row d-flex justify-content-center align-items-stretch">
        <div class="p-2">
          <img class="rss-icon col-12" src="assets/images/facebook.png" alt="">
          eddy’s carry & cash
        </div>
        <div class="p-2">
          <img class="rss-icon col-12" src="assets/images/instagram.png" alt="">
          eddy’s carry & cash
        </div>
        <div class="p-2">
          <img class="rss-icon col-12" src="assets/images/tiktok.png" alt="">
          eddy’s carry & cash
        </div>
      </div>
    </div>
  </div>

</div>
