.floating-selector {
  position: fixed;
  top: 1px;
  right: 15px;
  color: white;
  padding: 1px 1px !important;
  z-index: 1001;
  width: fit-content !important;
}

.btn {
  font-size: 24px;
}

@media screen and (min-width: 1921px) and (orientation: landscape) {
  .floating-selector {
    right: 12vw;
  }
}
